:root {
  --light-primary: 98, 0, 238;
  --light-primary-variant: 55, 0, 179;
  --light-secondary: 3, 218, 198;
  --light-secondary-variant: 1, 135, 134;
  --light-background: 255, 255, 255;
  --light-surface: 255, 255, 255;
  --light-error: 176, 0, 32;
  --light-onPrimary: 255, 255, 255;
  --light-onSecondary: 0, 0, 0;
  --light-onBackground: 0, 0, 0;
  --light-onSurface: 0, 0, 0;
  --light-onError: 255, 255, 255;
  --dark-primary: 0, 0, 202;
  --dark-secondary: 188, 204, 0;
  --dark-background: 31, 31, 31;
  --dark-surface: 18, 18, 18;
  --dark-error: 194, 8, 15;
  --dark-onPrimary: 255, 255, 255;
  --dark-onSecondary: 0, 0, 0;
  --dark-onBackground: 255, 255, 255;
  --dark-onSurface: 255, 255, 255;
  --dark-onError: 255, 255, 255;
}

.content-center {
  align-content: center;
}
.content-start {
  align-content: flex-start;
}
.content-end {
  align-content: flex-end;
}
.content-between {
  align-content: space-between;
}
.content-around {
  align-content: space-around;
}
.content-evenly {
  align-content: space-evenly;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.flex-row {
  flex-direction: row;
}
.flex-row-reverse {
  flex-direction: row-reverse;
}
.flex-col {
  flex-direction: column;
}
.flex-col-reverse {
  flex-direction: column-reverse;
}

.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.inline {
  display: inline;
}
.flex {
  display: flex;
}
.inline-flex {
  display: inline-flex;
}
.table {
  display: table;
}
.inline-table {
  display: inline-table;
}
.table-caption {
  display: table-caption;
}
.table-cell {
  display: table-cell;
}
.table-column {
  display: table-column;
}
.table-column-group {
  display: table-column-group;
}
.table-footer-group {
  display: table-footer-group;
}
.table-header-group {
  display: table-header-group;
}
.table-row-group {
  display: table-row-group;
}
.table-row {
  display: table-row;
}
.flow-root {
  display: flow-root;
}
.grid {
  display: grid;
}
.inline-grid {
  display: inline-grid;
}
.contents {
  display: contents;
}
.list-item {
  display: list-item;
}

.items-start {
  align-items: flex-start;
}
.items-end {
  align-items: flex-end;
}
.items-center {
  align-items: center;
}
.items-baseline {
  align-items: baseline;
}
.items-stretch {
  align-items: stretch;
}

.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.justify-evenly {
  justify-content: space-evenly;
}

.justify-items-start {
  justify-items: start;
}
.justify-items-end {
  justify-items: end;
}
.justify-items-center {
  justify-items: center;
}
.justify-items-stretch {
  justify-items: stretch;
}

.flex-wrap {
  flex-wrap: wrap;
}
.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}
.flex-nowrap {
  flex-wrap: nowrap;
}

.headline1 {
  letter-spacing: -1.5px;
  font-weight: lighter;
  font-size: 96px;
  padding: 0;
  margin: 0;
}
.headline2 {
  letter-spacing: -0.5px;
  font-weight: lighter;
  font-size: 60px;
  padding: 0;
  margin: 0;
}
.headline3 {
  letter-spacing: 0px;
  font-weight: normal;
  font-size: 48px;
  padding: 0;
  margin: 0;
}
.headline4 {
  letter-spacing: 0.25px;
  font-weight: normal;
  font-size: 34px;
  padding: 0;
  margin: 0;
}
.headline5 {
  letter-spacing: 0px;
  font-weight: normal;
  font-size: 24px;
  padding: 0;
  margin: 0;
}
.headline6 {
  letter-spacing: 0.15px;
  font-weight: 500;
  font-size: 20px;
  padding: 0;
  margin: 0;
}
.body1 {
  letter-spacing: 0.5px;
  font-weight: normal;
  font-size: 16px;
  padding: 0;
  margin: 0;
}
.body2 {
  letter-spacing: 0.25px;
  font-weight: normal;
  font-size: 14px;
  padding: 0;
  margin: 0;
}
.subtitle1 {
  letter-spacing: 0.15px;
  font-weight: normal;
  font-size: 16px;
  padding: 0;
  margin: 0;
}
.subtitle2 {
  letter-spacing: 0.1px;
  font-weight: 500;
  font-size: 14px;
  padding: 0;
  margin: 0;
}
.button {
  letter-spacing: 1.25px;
  font-weight: 500;
  font-size: 14px;
  padding: 0;
  margin: 0;
}
.overline {
  letter-spacing: 1.5px;
  font-weight: normal;
  font-size: 10px;
  padding: 0;
  margin: 0;
}
.caption {
  letter-spacing: 0.4px;
  font-weight: normal;
  font-size: 12px;
  padding: 0;
  margin: 0;
}


/*# sourceMappingURL=main.1eb9912c.chunk.css.map*/