.headline1 {
  letter-spacing: -1.5px;
  font-weight: lighter;
  font-size: 96px;
  padding: 0;
  margin: 0;
}
.headline2 {
  letter-spacing: -0.5px;
  font-weight: lighter;
  font-size: 60px;
  padding: 0;
  margin: 0;
}
.headline3 {
  letter-spacing: 0px;
  font-weight: normal;
  font-size: 48px;
  padding: 0;
  margin: 0;
}
.headline4 {
  letter-spacing: 0.25px;
  font-weight: normal;
  font-size: 34px;
  padding: 0;
  margin: 0;
}
.headline5 {
  letter-spacing: 0px;
  font-weight: normal;
  font-size: 24px;
  padding: 0;
  margin: 0;
}
.headline6 {
  letter-spacing: 0.15px;
  font-weight: 500;
  font-size: 20px;
  padding: 0;
  margin: 0;
}
.body1 {
  letter-spacing: 0.5px;
  font-weight: normal;
  font-size: 16px;
  padding: 0;
  margin: 0;
}
.body2 {
  letter-spacing: 0.25px;
  font-weight: normal;
  font-size: 14px;
  padding: 0;
  margin: 0;
}
.subtitle1 {
  letter-spacing: 0.15px;
  font-weight: normal;
  font-size: 16px;
  padding: 0;
  margin: 0;
}
.subtitle2 {
  letter-spacing: 0.1px;
  font-weight: 500;
  font-size: 14px;
  padding: 0;
  margin: 0;
}
.button {
  letter-spacing: 1.25px;
  font-weight: 500;
  font-size: 14px;
  padding: 0;
  margin: 0;
}
.overline {
  letter-spacing: 1.5px;
  font-weight: normal;
  font-size: 10px;
  padding: 0;
  margin: 0;
}
.caption {
  letter-spacing: 0.4px;
  font-weight: normal;
  font-size: 12px;
  padding: 0;
  margin: 0;
}
